.breadcrumb {
  padding: 27px 24px 32px;
}

.list {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item a {
  color: #878181;
}

.item a:hover {
  color: var(--color-black);
}

.item span[aria-current="page"] {
  color: var(--color-black);
}

.separator {
  color: #878181;
}
